# Ignorar archivos específicos de Android Studio y Gradle
*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Archivos de la advertencia actual
*.ts
*.css

# Ignorar archivos binarios comunes generados por el build
*.apk
*.aab
*.jks

# Directorios de Android Studio y otros archivos de caché
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml